@import "../../style/color"

.button input
    padding: 1.5rem
    padding-left: 2rem
    padding-right: 2rem
    border-radius: 44px
    font-size: 16px
    color: #FFF
    background-color: $colorBlue
