.greyBox
    margin: 2rem
    margin-left: 2rem
    width: 80%
    height: 4.7 rem
    padding-top: 2px
    padding-bottom: 2px
    padding-left: 1rem
    padding-right: 1rem
    border-radius: 10px
    background-color: #E3E3E3
